@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*, *::before, *::after {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-header {
    display: flex;
    width: 100%;
    height: 9vh;
    box-shadow: 0px 0px 20px -9px #000000;
    align-items: center;
}

// Logo and Search
.img-header {
    margin-left: 50px;
    width: 100px;

    img {
        max-width: 100%;
        object-fit: cover;
    }
}

.search-header {
    margin-left: 20px;

    .input-fild {
        display: flex;
        align-items: center;
        position: relative;
        background: #DADADA;
        border-radius: 7px;
        padding-left: 10px;

        .icon-search {
            mask: url('../svg/search.svg');
        }

        .iconSearch {
            display: inline-block;
            width: 20px;
            height: 20px;
            background: #9B9B9B;
            mask-size: cover;

            &:hover {
                background: whitesmoke;
            }
        }

    }
    input {
        border: none;
        outline: none;
        width: 600px;
        height: 35px;
        background: #DADADA;
        font-size: 1.1em;
        padding-left: 10px;
        border-radius: 8px;
    }
}

// Home and Account
.home-account {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-between;
    width: 230px;
    align-items: center;
    margin-left: 25px;

    link {
        text-decoration: none;
        color: black;
    }
    .home-parent {
        border-radius: 18px;
        padding: 9px 5px;
        display: flex;
        cursor: pointer;

        &:hover {
            background: #DADADA;
        }

        .text {
            display: flex;
            justify-content: center;
            width: 95px;

            h2 {
                font-size: 18px;
                color: #000000;
            }
        }
    }        
    .logo-account {
        width: 35px;
        height: 35px;
        border-radius: 50px;
        background: #9B9B9B;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        color: white;
    }
    .account-parent {

        border-radius: 20px;
        padding: 4px 5px;

        &:hover {
            background: #DADADA;
        }
        .acount-link {

        link {
            display: flex;
            align-items: center;
            width: 115px;
            justify-content: space-between;
            color: black;
    
            h2 {
                font-size: 18px;
                color: #9B9B9B;
            }
        }
        }
    }
}

// Message and Notify

.msg-notif {
    // margin-left: 100px;
    width: 150px;
    display: flex;
    justify-content: space-between;

    .icon-chat {
        mask: url('../svg/chat.svg');
    }
    .icon-notif {
        mask: url('../svg/notif.svg');
    }
    .icon-dott {
        mask: url('../svg/more.svg');
    }

    .icon {
        display: inline-block;
        width: 28px;
        height: 28px;
        background: #9B9B9B;
        mask-size: cover;
        cursor: pointer;

        &:hover {
            background: rgb(63, 63, 63);
        }
    }
}

.garis-dot {
    margin-left: 40px;
    margin-right: 40px;
    
    .icon-garis {
        mask: url('../svg/dotted-barline.svg');
    }

    .garis {
        display: inline-block;
        width: 30px;
        height: 30px;
        background:#9B9B9B;
    }
}

.card-componen {
    padding: 1em;
    column-count: 4;
}

@media (max-width: 800px) {
    .card-componen {
        padding: 1em;
        column-count: 3;
    }
}

@media (max-width: 600px) {
    .card-componen {
        padding: 1em;
        column-count: 2;
    }
}

@media (max-width: 400px) {
    .card-componen {
        padding: 1em;
        column-count: 1;
    }
}